.social-links {
  list-style: none;
  margin: 0 0 0 rem-calc(-20);
  width: rem-calc(260);

  &.right {
    margin: 0 rem-calc(-20) 0 0;
  }

  &.dark {
    margin: 0 auto;
    
    a {
      color: $grey;
    }
  }

  @include at-small() {
    margin: 0;
    width: rem-calc(210);
  }

  a {
    color: $white;
    background: transparent;
    font-size: rem-calc(25);
    display: block;
    float: left;
    font-family: "Social Fonts", "Open Sans", Helvetica, Arial, sans-serif;
    padding: rem-calc(10) rem-calc(20);
    font-variant: normal;
    text-transform: none;
    text-align: center;
    @include single-transition(background, 0.23s, linear);
    @include at-small() {
      padding: rem-calc(8) rem-calc(15);
    }

    &:hover {
      background: $white;
      color: $font-color;
    }

    .icon-facebook {
      &:before {
        content: '\e800';
        font-style: normal;
      }
    }

    .icon-twitter {
      &:before {
        content: '\e801';
        font-style: normal;
      }
    }

    .icon-linkedin {
      &:before {
        content: '\e802';
        font-style: normal;
      }
    }

    .icon-google{
      &:before {
        content: '\e803';
        font-style: normal;
      }
    }

  }

}