// Variables
$misoBold:                      "Miso Bold";
$font-files:                    "../fonts";

// Common colors
$font-color:                    #221e1f;
$font-color-bold:               #414042;
$primary-green:				    #19c54d;
$primary-red:                   #e05045;
$violetBlue:                    #4945e0;
$lilac:							#897ee7;
$turquoise:                     #00aac2;
$secondary-yellow:              #fdb948;
$light-grey:                    #F1F1F1;
$light-blue:                    #5fa7f0;
$dark-green:                    #0d722c;

// For Interview Page
$colors-list:                   $primary-red $primary-green $turquoise $light-blue $lilac;
